body {
	display: flex;
	flex-direction: column;
	background-color: rebeccapurple;
    align-items: center;
}

#calculator {
    background-color: black;
    margin: 1rem;
	display: flex;
	flex-direction: column;
	min-width: 22rem;
    padding: 10px;
}

.display-area {
	/* width: 95%; */
	height: 7rem;
    background-color: lightpink;
    color: blueviolet;
}

.history {
    height: 45%;
}

.main-screen {
    background-color: darkcyan;
    height: 55%;
}

.button-area {
	margin: 1rem 0rem;
	/* padding: 5px 0px; */
    height: 27rem;
	border: 1px solid black;
	background-color: #fff;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

#evaluate {
	grid-column: span 2;
}

#backspace {
	grid-column: span 2;
}
