body {
	margin-top: 3rem;
	display: flex;
	flex-direction: column;
	background-color: black;
	align-items: center;
    color: aliceblue;
}

h1 {
	font-size: 3rem;
}

#calculator {
	background-color: darkmagenta;
	margin: 3rem;
	display: flex;
	flex-direction: column;
	min-width: 20rem;
	padding: 10px;
    border: 1px solid black;
    border-radius: 1rem;
}

.display-area {
	/* width: 95%; */
    height: 7rem;
    border-radius: 0.5rem;
	background-color: lightpink;
	color: blueviolet;
}

.history {
	height: 45%;
}

.main-screen {
	background-color: lightcyan;
	height: 55%;
}

.button-area {
    background-color: lightblue;
	margin-top: 1rem;
	height: 22rem;
	border: 1px solid black;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
    gap: 2px;
    padding: 5px;
    font-size: 1.5rem;
    border-radius: 0.5rem;
}

button {
    font-size: inherit;
    border-radius: 5px;
}

#evaluate {
	grid-column: span 2;
}

#backspace {
	grid-column: span 2;
}

footer {
	margin-top: 3rem;
}


@media (min-width: 899px) {


    h1 {
        font-size: 4rem;
    }

    .display-area {
        height: 30%;
    }

    .button-area {
        height: 70%;
    }

    #calculator {
        margin-top: 2rem;
        min-width: 27rem;
        padding: 1.2rem;
        height: 37rem;
    }

    .display-area {
        height: 10rem;
    }

    footer {
        margin-top: 2rem;
        font-size: 1.4rem;
        font-weight: 700;
    }
}